<template>
  <VForm @submit="onSubmit">
    <template v-slot:body>
      <VInput v-model.trim="$v.operationName.$model" label="Operation name" />
      <VSelect v-model.trim="$v.battlefieldSize.$model" label="Battlefield size" :items="[10, 8, 6]" disabled />
    </template>
    <template v-slot:actions>
      <VButton type="submit" :color="$v.$invalid ? 'primary' : 'success'" :disabled="$v.$invalid">
        <span v-if="!$v.$invalid">To victory! 👊</span>
        <span v-else>We aren't ready yet 👎</span>
      </VButton>
    </template>
  </VForm>
</template>
<script>
import { required, minLength } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';

import VForm from '../../components/forms/Form';
import VInput from '../../components/forms/Input';
import VSelect from '../../components/forms/Select';
import VButton from '../../components/buttons/Button';

export default {
  name: 'BriffingForm',
  components: { VForm, VInput, VSelect, VButton },
  validations: {
    operationName: {
      required,
      minLength: minLength(4)
    },
    battlefieldSize: {}
  },
  computed: {
    ...mapState({
      user: state => state.user.data,
      operation: state => state.operation.params
    }),
    operationName: {
      set: function(value) {
        this.setOperationParam({ param: 'name', value });
      },
      get: function() {
        return this.operation.name;
      }
    },
    battlefieldSize: {
      set: function(value) {
        this.setOperationParam({ param: 'battlefieldSize', value });
      },
      get: function() {
        return this.operation.battlefieldSize;
      }
    }
  },
  sockets: {
    ['OPERATION_INITIALIZED'](operationId) {
      this.$router.push({
        name: 'recon',
        params: { completed: true, operationId }
      });
    }
  },
  methods: {
    ...mapActions({
      setOperationParam: 'operation/setOperationParam'
    }),
    onSubmit() {
      const { operation, user } = this;

      this.$socket.client.emit('set-operation', { operation, userId: user.id });
    }
  }
};
</script>
