<template>
  <VLoader v-if="loading" />
  <div v-else class="d-flex">
    <Player v-for="player in players" :key="player.id" :player="player" :enemy="player.id !== user.id">
      <template v-if="player.id === user.id">
        <VButton color="success" appearance="round" :disabled="player.locked" @click="onLock(player.id)">
          👍
        </VButton>
        <VButton appearance="round">
          👎
        </VButton>
      </template>
    </Player>
  </div>
</template>
<script>
import { mapState } from 'vuex';

import VLoader from '../../components/Loader';
import VButton from '../../components/buttons/Button';

import Player from './Player';

export default {
  name: 'DraftComponent',
  components: { VLoader, VButton, Player },
  sockets: {
    ['OPERATION_LOCKED'](firstTurn) {
      this.$router.push({ name: 'brawl', params: { completed: true, firstTurn } });
    }
  },
  computed: {
    ...mapState({
      user: state => state.user.data,
      operation: state => state.operation.params,
      loading: state => state.operation.loading
    }),
    players({ user, operation }) {
      const { [user.id]: player, [player.opponentId]: enemy } = operation.players;

      return [player, enemy];
    }
  },
  methods: {
    onLock(userId) {
      this.$socket.client.emit('lock-operation', {
        operationId: this.operation.id,
        userId
      });
    }
  },
  mounted() {
    this.$socket.client.emit('subscribe-for-operation', this.$route.params.operationId);
  }
};
</script>
