<template>
  <div :class="$style.container">
    <div :class="$style.controls">
      <slot></slot>
    </div>
    <div :class="$style.info">
      <ShieldIcon :class="$style.shield" :opposite="enemy" />
      <CheckIcon v-if="player.locked" :class="$style.participated" />
      <span :class="$style.name">{{ player.nickName }}</span>
    </div>
  </div>
</template>
<script>
import ShieldIcon from '../../components/icons/Shield';
import CheckIcon from '../../components/icons/Check';

export default {
  name: 'PlayerComponent',
  components: { ShieldIcon, CheckIcon },
  props: {
    player: {
      type: Object,
      required: true,
      default: () => ({})
    },
    enemy: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onAccept() {
      this.$emit('accept');
    },
    onRefuse() {
      this.$emit('refuse');
    }
  }
};
</script>
<style lang="scss" module>
.container {
  flex: 1;
  align-self: flex-end;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;

  * + * {
    margin-left: 1rem;
  }
}

.info {
  position: relative;
}

.participated {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: var(--palette-anti-flash-white);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: var(--values-border-radius);
}
</style>
