<template>
  <button
    :type="type"
    :class="[$style.container, $style[color], { [$style.disabled]: disabled, [$style[appearance]]: appearance }]"
    :disabled="disabled"
    @click="onClick"
  >
    <span v-if="$slots.default" :class="$style.text"><slot /></span>
    <slot name="icon"></slot>
  </button>
</template>
<script>
export default {
  name: 'VButton',
  props: {
    label: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'button'
    },
    color: {
      type: String,
      default: 'primary'
    },
    appearance: {
      type: String,
      default: undefined
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onClick(event) {
      this.$emit('click', event);
    }
  }
};
</script>
<style lang="scss" module>
.container {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--values-border-radius);
  cursor: pointer;

  svg {
    width: 1rem;
    height: 1rem;

    path {
      fill: currentColor;
    }
  }

  &.primary {
    color: var(--palette-anti-flash-white);
    background-color: var(--palette-carmine-pink);
  }

  &.success {
    color: var(--palette-anti-flash-white);
    background-color: var(--palette-green-forest);
  }

  &.info {
    color: var(--palette-anti-flash-white);
    background-color: var(--palette-cold-blue);
  }

  &.round {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }

  &.disabled {
    filter: contrast(50%);
    cursor: not-allowed;
  }
}

.text {
  font-size: 1em;
  line-height: 1;
}
</style>
