<template>
  <VLoader headline="Waiting for an opponent...  😴" />
</template>
<script>
import VLoader from '../../components/Loader';

export default {
  name: 'ReconComponent',
  components: { VLoader },
  data: () => ({ loading: true }),
  sockets: {
    ['OPERATION_ACCEPTED']() {
      this.$router.push({
        name: 'draft',
        params: {
          completed: true,
          operationId: this.$route.params.operationId
        }
      });
    }
  },
  mounted() {
    this.$socket.client.emit('join-operation', {
      operationId: this.$route.params.operationId,
      playerId: this.$store.state.user.data.id
    });
  }
};
</script>
