@import 'resources';

:root {
  box-sizing: border-box;

  --values-border-radius: 0.3rem;
  --values-layer-bottom: 10;
  --values-layer-middle: 100;
  --values-layer-top: 1000;
  
  --opacity-overlay-disabled: 0.6;
  
  @each $name, $value in $colors {
    --palette-#{$name}: #{$value};
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  
  color: var(--palette-dark);
  background-image: linear-gradient(270deg, var(--palette-fresh-lime), var(--palette-cold-blue));
  background-size: 400% 400%;
  animation: background-gradient 30s ease infinite;
}

input {
  outline: none;
}

@keyframes background-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}