<template>
  <ul :class="$style.container" v-if="operations.length">
    <li v-for="operation in operations" :key="operation.id" :class="$style.row">
      <span :class="$style['row-host']">{{ operation.host.nickName }}</span>
      <span :class="$style['row-title']">{{ operation.name }}</span>
      <VButton color="success" appearance="round" :class="$style['row-button']" @click="onAccept(operation)">
        <template #icon>
          <SwordsIcon />
        </template>
      </VButton>
    </li>
  </ul>
  <div v-else>
    <VMessage>There aren't any opponents on horizon, Sir 🥱</VMessage>
  </div>
</template>
<script>
import VButton from '../../components/buttons/Button';
import SwordsIcon from '../../components/icons/Swords';
import VMessage from '../../components/Message';

import { mapState } from 'vuex';
export default {
  name: 'LobbyComponent',
  components: { VMessage, VButton, SwordsIcon },
  data: () => ({ operations: [] }),
  sockets: {
    ['OPERATION_PLAYER_JOINED'](operation) {
      this.$socket.client.emit('accept-operation', {
        operationId: operation.id,
        hostId: operation.host.id,
        playerId: this.user.id
      });

      this.$router.push({
        name: 'draft',
        params: {
          completed: true,
          operationId: operation.id
        }
      });
    },
    ['OPERATIONS'](operations) {
      this.operations = [...this.operations, ...operations];
    },
    ['OPERATION_STARTED'](operation) {
      this.operations = [...this.operations, operation];
    },
    ['OPERATION_CANCELED'](operationId) {
      this.operations = this.operations.filter(({ id }) => id !== operationId);
    }
  },
  computed: {
    ...mapState({
      user: state => state.user.data
    })
  },
  methods: {
    onAccept({ id }) {
      this.$socket.client.emit('join-operation', {
        operationId: id,
        playerId: this.user.id
      });
    }
  },
  mounted() {
    this.$socket.client.emit('subscribe-for-operations');
  }
};
</script>
<style lang="scss" module>
.container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.row {
  display: flex;
  align-items: center;

  &-title,
  &-host {
    flex: 1;
  }

  &-button {
    margin-left: 1rem;
  }
}
</style>
