<template>
  <VForm @submit="onSubmit">
    <template #body>
      <VInput v-model.trim="$v.nickName.$model" label="Captain name" />
    </template>
    <template #actions>
      <VButton type="submit" :color="$v.$dirty ? 'primary' : 'success'" :disabled="$v.$invalid">
        <span v-if="$v.$invalid">Choose a name 🙏</span>
        <span v-else-if="$v.$dirty">First, save your data 😀</span>
        <span v-else>Ready to go! 👉</span>
      </VButton>
    </template>
  </VForm>
</template>
<script>
import { required, minLength } from 'vuelidate/lib/validators';
import { mapActions, mapState } from 'vuex';
import { LocalStorage } from '../../utils/local-storage';

import VForm from '../../components/forms/Form';
import VInput from '../../components/forms/Input';
import VButton from '../../components/buttons/Button';

export default {
  name: 'HomePageUserForm',
  components: { VForm, VInput, VButton },
  validations: {
    nickName: {
      required,
      minLength: minLength(2)
    }
  },
  computed: {
    ...mapState({
      user: state => state.user.data
    }),
    nickName: {
      set: function(value) {
        this.setUserNickname(value);
      },
      get: function() {
        return this.user.nickName;
      }
    }
  },
  sockets: {
    ['USER_CONNECTED'](user) {
      LocalStorage.set('user', user);

      this.$v.$reset();
    }
  },
  methods: {
    ...mapActions({
      setUserNickname: 'user/setUserNickname'
    }),
    onSubmit() {
      if (this.$v.nickName.$dirty) {
        this.$socket.client.emit('connect-user', this.user);
      } else {
        this.$router.push({ name: 'mode', params: { completed: true } });
      }
    }
  },
  mounted() {
    const user = LocalStorage.get('user');

    if (user) {
      this.$socket.client.emit('connect-user', user);
    }
  }
};
</script>
