<template>
  <div :class="$style.container">
    <h2 v-if="headline">{{ headline }}</h2>
    <div :class="$style.content">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VCardDeck',
  props: {
    value: {
      type: [String, Number],
      required: true
    },
    headline: {
      type: String,
      default: ''
    }
  }
};
</script>
<style lang="scss" module>
.container {
  width: 100%;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
</style>
