<template>
  <article :class="[$style.container, { [$style.selected]: $parent.value === id }]" @click="onSelect">
    <header>
      <figure v-if="image" :class="$style.image">
        <VImage :src="image" :alt="alt" />
        <figcaption v-if="caption" :class="$style.caption">
          {{ caption }}
        </figcaption>
      </figure>
      <h2 v-if="title">{{ title }}</h2>
    </header>
    <footer></footer>
  </article>
</template>
<script>
import uuid from 'uuid';
import VImage from '../Image';

export default {
  name: 'VCard',
  components: { VImage },
  props: {
    image: {
      type: String,
      default: ''
    },
    alt: {
      type: String,
      default: ''
    },
    caption: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    id: {
      type: [String, Number],
      default: uuid('card')
    }
  },
  methods: {
    onSelect() {
      this.$parent.$emit('input', this.id);
    }
  }
};
</script>
<style lang="scss" module>
.container {
  border-radius: var(--values-border-radius);
  background-color: var(--palette-white);
  overflow: hidden;
  filter: grayscale(1);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 5px 1px var(--palette-dark-water);
  }

  &.selected {
    box-shadow: 0px 0px 5px 1px var(--palette-carmine-pink);
    filter: grayscale(0);
  }
}
.image {
  position: relative;
  margin: 0;
}

.caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--palette-white);
  background-color: rgba(0, 0, 0, 0.4);
}
</style>
