<template>
  <transition
    mode="out-in"
    :appear-class="$style.appear"
    :appear-to-class="$style['appear-to']"
    :appear-active-class="$style['appear-active']"
    :leave-class="$style.leave"
    appear
  >
    <section :class="$style.container">
      <header :class="$style.header">
        <slot name="header"></slot>
      </header>
      <div :class="$style.content">
        <slot></slot>
      </div>
    </section>
  </transition>
</template>
<script>
export default {
  name: 'LayoutSection'
};
</script>
<style lang="scss" module>
.container {
  border-radius: var(--values-border-radius);
  background-color: var(--palette-white);
  overflow: hidden;
}
.header {
  padding: 2rem 4rem;
  color: var(--palette-anti-flash-white);
  background-color: var(--palette-dark-water);
}
.content {
  padding: 1rem;
}
.appear {
  opacity: 0;
  transform: translateY(100px);
}
.apper-to {
  opacity: 1;
  transform: translateY(0);
}
.appear-active {
  transition: all 200ms ease-out;
}
.leave {
  opacity: 0;
}
</style>
