<template>
  <LayoutSection>
    <template #header>
      <h3>Good luck, Captain! 🏴‍☠️</h3>
    </template>
    <Brawl />
  </LayoutSection>
</template>
<script>
import LayoutSection from '../components/layout/Section';

import Brawl from '../pages/brawl/Brawl';

export default {
  name: 'BrawlPage',
  components: { LayoutSection, Brawl }
};
</script>
