<template>
  <LayoutSection>
    <template #header>
      <h3>All we need is your order, Captain {{ user.nickName }}!</h3>
    </template>
    <BriffingForm />
  </LayoutSection>
</template>
<script>
import { mapState } from 'vuex';

import LayoutSection from '../components/layout/Section';
import BriffingForm from '../pages/briffing/BriffingForm';

export default {
  name: 'BriffingPage',
  components: { LayoutSection, BriffingForm },
  computed: {
    ...mapState({
      user: state => state.user.data
    })
  }
};
</script>
