<template>
  <LayoutSection>
    <template #header>
      <div :class="$style.info">
        <span :class="$style['info-item']">
          <i :class="$style.icon"><NamePlateIcon /></i>
          {{ operation.name }}
        </span>
        <span :class="$style['info-item']">
          <i :class="$style.icon"><SizeIcon /></i>
          {{ operation.battlefieldSize }}
        </span>
      </div>
    </template>
    <Draft />
  </LayoutSection>
</template>
<script>
import LayoutSection from '../components/layout/Section';
import NamePlateIcon from '../components/icons/NamePlate';
import SizeIcon from '../components/icons/Size';

import Draft from '../pages/draft/Draft';
import { mapState } from 'vuex';

export default {
  name: 'DraftPage',
  components: { LayoutSection, Draft, NamePlateIcon, SizeIcon },
  computed: {
    ...mapState({
      operation: state => state.operation.params
    })
  }
};
</script>
<style lang="scss" module>
.info {
  display: flex;
  justify-content: flex-end;

  &-item {
    display: flex;
    align-items: center;

    & + & {
      margin-left: 1rem;
    }

    .icon {
      display: block;
      padding: 0.5rem;
      margin-right: 0.5rem;
      border-radius: 50%;
      background-color: var(--palette-cyber-grape);

      svg {
        display: block;
        width: 18px;

        path {
          fill: var(--palette-anti-flash-white);
        }
      }
    }
  }
}
</style>
