<template>
  <LayoutSection>
    <template #header>
      <h3>What is your name, Captain?</h3>
    </template>
    <UserForm />
  </LayoutSection>
</template>
<script>
import LayoutSection from '../components/layout/Section';
import UserForm from '../pages/home/UserForm';

export default {
  name: 'HomePage',
  components: { LayoutSection, UserForm }
};
</script>
