<template>
  <LayoutSection>
    <template #header>
      <h3>Whom do you want to attack?</h3>
    </template>
    <Lobby />
  </LayoutSection>
</template>
<script>
import LayoutSection from '../components/layout/Section';
import Lobby from '../pages/lobby/Lobby';

export default {
  name: 'LobbyPage',
  components: { LayoutSection, Lobby }
};
</script>
