<template>
  <LayoutSection>
    <template #header>
      <h3>What do you prefer, Captain?</h3>
    </template>
    <ModeComponent />
  </LayoutSection>
</template>
<script>
import LayoutSection from '../components/layout/Section';
import ModeComponent from '../pages/mode/Mode';

export default {
  name: 'ModePage',
  components: { LayoutSection, ModeComponent }
};
</script>
