<template>
  <section :class="$parent.$style.section">
    <SearchForOpponent />
  </section>
</template>

<script>
import SearchForOpponent from '../pages/recon/Recon';

export default {
  name: 'ReconPage',
  components: { SearchForOpponent }
};
</script>
