<template>
  <LayoutSection>
    <template #header>
      <template v-if="$route.params.defeat">
        <h3>Sorry, Captain {{ user.nickName }} 🥺</h3>
        <p>You have been defeted... 🏳️</p>
      </template>
      <template v-else>
        <h3>Our congratulations, Captain {{ user.nickName }}!</h3>
        <p>You have won!!! 👏</p>
      </template>
    </template>
    <Summary />
  </LayoutSection>
</template>
<script>
import LayoutSection from '../components/layout/Section';

import Summary from '../pages/summary/Summary';
import { mapState } from 'vuex';

export default {
  name: 'SummaryPage',
  components: { LayoutSection, Summary },
  computed: {
    ...mapState({
      user: state => state.user.data
    })
  }
};
</script>
