<template>
  <VForm @submit="onSubmit">
    <template #body>
      <VField>
        <VCardDeck v-model="gameMode" :headline="gameMode || 'Choose wisely 👇'">
          <VCard id="New Game" image="images/113484-OOKDN7-59.jpg" alt="start game" caption="Start Game" />
          <VCard id="Join Game" image="images/113484-OOKDN7-59.jpg" alt="join game" caption="Join Game" />
        </VCardDeck>
      </VField>
    </template>
    <template #actions>
      <VButton type="submit" :color="$v.$invalid ? 'primary' : 'success'" :disabled="$v.$invalid">
        <span v-if="$v.$invalid">Choose a mode 🙏</span>
        <span v-else>Let's start! 👉</span>
      </VButton>
    </template>
  </VForm>
</template>
<script>
import { required } from 'vuelidate/lib/validators';

import VForm from '../../components/forms/Form';
import VField from '../../components/forms/Field';
import VButton from '../../components/buttons/Button';
import VCardDeck from '../../components/cards/CardDeck';
import VCard from '../../components/cards/Card';

export default {
  name: 'ModeComponent',
  components: { VForm, VField, VButton, VCardDeck, VCard },
  validations: {
    gameMode: {
      required
    }
  },
  data: () => ({ gameMode: '' }),
  sockets: {},
  methods: {
    onSubmit() {
      this.redirect();
    },
    redirect() {
      switch (this.gameMode) {
        case 'New Game':
          this.$router.push({ name: 'briffing', params: { completed: true } });
          break;
        case 'Join Game':
          this.$router.push({ name: 'lobby', params: { completed: true } });
          break;
        default:
          break;
      }
    }
  }
};
</script>
