<template>
  <div :class="[$style.container, $style[ratio]]">
    <VLoader v-if="loading" absolute />
    <img :src="src" :alt="alt" @load="onLoad" />
  </div>
</template>
<script>
import VLoader from '../components/RudderLoader';

export default {
  name: 'VImage',
  components: { VLoader },
  data: () => ({ loading: true }),
  props: {
    src: {
      type: String,
      required: true
    },
    alt: {
      type: String,
      default: ''
    },
    ratio: {
      type: String,
      default: '16x9'
    }
  },
  methods: {
    onLoad() {
      this.loading = false;
    }
  }
};
</script>
<style lang="scss" module>
.container {
  position: relative;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &.16x9 {
    padding-bottom: 56.2%;
  }

  &.4x3 {
    padding-bottom: 75%;
  }

  &.3x2 {
    padding-bottom: 66.66%;
  }

  &.8x5 {
    padding-bottom: 62.5%;
  }
}
</style>
