<template>
  <div :class="[$style.container, { [$style.fullscreen]: fullScreen }]">
    <div v-if="fullScreen" :class="$style.overlay" />
    <div v-if="error" :class="$style.body">
      <h2 v-if="headline">{{ headline }}</h2>
      <p :class="$style['error-message']">
        <span :class="$style['error-icon']"><ExclamationSign /></span>
        {{ error }}
      </p>
    </div>
    <div v-else :class="$style.body">
      <h2 v-if="headline">{{ headline }}</h2>
      <div :class="$style.progress"></div>
    </div>
  </div>
</template>
<script>
import ExclamationSign from './icons/ExclamationSign';

export default {
  name: 'VLoader',
  components: { ExclamationSign },
  props: {
    headline: {
      type: String,
      default: ''
    },
    error: {
      type: String,
      default: ''
    },
    fullScreen: {
      type: Boolean,
      default: false
    }
  }
};
</script>
<style lang="scss" module>
.container {
  text-align: center;
  width: 100%;

  &.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--palette-anti-flash-white);
    background-color: rgba(0, 0, 0, 0.5);

    .body {
      margin-top: 20vmin;
      width: 60vmax;
    }
  }
}

.progress {
  height: 20px;
  border-radius: 10px;
  border: 1px solid var(--palette-anti-flash-white);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--palette-cold-blue),
    var(--palette-cold-blue) 10px,
    var(--palette-dark-water) 10px,
    var(--palette-dark-water) 20px
  );
  background-size: 400% 400%;
  animation: progress 40s linear infinite;

  @keyframes progress {
    100% {
      background-position: -100%;
    }
  }
}

.error {
  &-message {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
}
</style>
