<template>
  <div :class="[$style.container, $style[color]]">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: 'VMessage',
  props: {
    color: {
      type: String,
      default: 'warning'
    }
  }
};
</script>
<style lang="scss" module>
.container {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: var(--values-border-radius);

  &.warning {
    color: var(--palette-mustard);
    border: 0.1rem solid var(--palette-mustard);
  }
}
</style>
