<template>
  <div :class="[$style.container, { [$style.absolute]: absolute }]">
    <RudderIcon />
  </div>
</template>
<script>
import RudderIcon from '../components/icons/Rudder';

export default {
  name: 'RudderLoader',
  components: { RudderIcon },
  props: {
    absolute: {
      type: Boolean,
      default: false
    }
  }
};
</script>
<style lang="scss" module>
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  svg {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
