<template>
  <div :class="boundarie || $style.wrapper">
    <slot></slot>
  </div>
</template>
<script>
import Selection from '@simonwep/selection-js';

export default {
  name: 'VSelection',
  data() {
    return {
      node: null
    };
  },
  props: {
    selectables: {
      type: [String, Array],
      default: () => []
    },
    selection: {
      type: String
    },
    boundarie: {
      type: String,
      default: 'boundarie'
    },
    singleClick: {
      type: Boolean,
      default: true
    },
    disable: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    disable(value) {
      if (value) {
        this.node.destroy();
      }
    }
  },
  methods: {
    onBeforeStart(event) {
      this.$emit('touch', event);
    },
    onStart(event) {
      this.$emit('start', event);
    },
    onMove({ selected }) {
      this.$emit('selecting', selected);
    },
    onStop({ selected }) {
      this.$emit('select', selected);
    }
  },
  mounted() {
    this.node = Selection.create({
      singleClick: this.singleClick,
      class: this.selection || this.$style.selection,
      selectables: [].concat(this.selectables).map(className => '.' + className),
      boundaries: [].concat(this.boundarie || this.$style.wrapper).map(className => '.' + className),
      selectionAreaContainer: [].concat(this.boundarie || this.$style.wrapper).map(className => '.' + className)
    });

    this.node.on('beforestart', this.onBeforeStart);
    this.node.on('start', this.onStart);
    this.node.on('stop', this.onStop);
    this.node.on('move', this.onMove);
  },
  beforeDestroy() {
    this.node.destroy();
  }
};
</script>
<style lang="scss" module>
.selection {
  background-color: rgba(30, 30, 30, 0.5);
}
</style>
