<template>
  <table :class="$style.container">
    <thead :class="$style.header" v-if="thead">
      <tr>
        <th v-for="(value, index) in thead" :key="index">{{ value }}</th>
      </tr>
    </thead>
    <tbody :class="$style.body">
      <tr v-for="(row, index) in tdata" :key="index">
        <td v-for="(cell, index) in row" :key="index">{{ cell }}</td>
      </tr>
    </tbody>
    <tfoot v-if="tfooter"></tfoot>
  </table>
</template>
<script>
export default {
  name: 'VTable',
  data: () => ({
    thead: ['one', 'two', 'three'],
    tdata: [
      ['test1', 'test1', 'test1'],
      ['test2', 'test2', 'test2'],
      ['test3', 'test3', 'test3']
    ]
  })
};
</script>
<style lang="scss" module>
.container {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--values-border-radius);
  border: 0.1rem solid var(--palette-anti-flash-white);
}
.header {
  background-color: #f9fafb;
  text-align: left;
  text-transform: uppercase;

  th {
    border-top: 1px solid var(--palette-anti-flash-white);
    padding: 0.5rem 1rem;
  }

  th + th {
    border-left: 1px solid var(--palette-anti-flash-white);
  }
}
.body {
  tr {
    td {
      border-top: 1px solid var(--palette-anti-flash-white);
      padding: 0.5rem 1rem;
    }

    td + td {
      border-left: 1px solid var(--palette-anti-flash-white);
    }
  }
}
</style>
