<template>
  <VButton color="info" @click="restart">Restart</VButton>
</template>
<script>
import VButton from '../../components/buttons/Button';

export default {
  name: 'SummaryComponent',
  components: { VButton },
  methods: {
    restart() {
      this.$router.push({ name: 'home', params: { restart: true } });
    }
  }
};
</script>
