@import './variables';

@mixin breakpoint($screen) {
  @if $screen == 'xs' {
    @media (min-width: #{$screen-xs-min}) {@content;}
  }
  @if $screen == 'sm' {
    @media (min-width: #{$screen-sm-min}) {@content;}
  }
  @if $screen == 'md' {
    @media (min-width: #{$screen-md-min}) {@content;}
  }
  @if $screen == 'lg' {
    @media (min-width: #{$screen-lg-min}) {@content;}
  }
  @if $screen == 'xl' {
    @media (min-width: #{$screen-xl-min}) {@content;}
  }
}