$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

$colors: (
  carmine-pink: rgb(229, 75, 72),
  mango-tango: rgb(251, 129, 59),
  mustard: rgb(251, 211, 84),
  cyber-grape: rgb(99, 57, 126),
  violet: rgb(236, 110, 240),
  anti-flash-white: rgb(242, 242, 242),
  white: rgb(255, 255, 255),
  dark: rgb(27, 38, 44),
  dark-water: rgb(15, 76, 117),
  cold-blue: rgb(50, 130, 184),
  winter: rgb(187, 225, 250),
  fresh-lime: rgb(167, 233, 175),
  green-forest: rgb(33, 191, 115),
);