<template>
  <VLoader v-if="loading" />
  <div v-else class="d-flex">
    <BattleField :headline="user.nickName">
      <template #player>
        <Player />
      </template>
    </BattleField>
    <BattleField :headline="enemy.nickName" enemy>
      <template #player>
        <Enemy :ready="ready" :locked="!turn" :message="message" />
      </template>
    </BattleField>
  </div>
</template>
<script>
import { mapState } from 'vuex';

import VLoader from '../../components/Loader';

import BattleField from './components/BattleField';
import Player from './components/Player';
import Enemy from './components/Enemy';

export default {
  name: 'BrawlComponent',
  components: { VLoader, BattleField, Player, Enemy },
  data: () => ({ turn: void 0 }),
  sockets: {
    ['BRAWL_STARTED'](brawlId) {
      this.$socket.client.emit('subscribe-for-brawl', brawlId);
    },
    ['BRAWL_TURN']() {
      this.turn = true;
    },
    ['BRAWL_MISS_COMMITED']() {
      this.turn = false;
    },
    ['BRAWL_PLAYER_DEFEATED'](playerId) {
      this.$router.push({ name: 'summary', params: { completed: true, defeat: playerId === this.user.id } });
    }
  },
  computed: {
    ...mapState({
      user: state => state.user.data,
      enemy: state => state.operation.params.players[state.operation.opponentId],
      operation: state => state.operation.params,
      brawl: state => state.brawl.params,
      loading: state => state.brawl.loading,
      statuses: state => state.brawl.statuses
    }),
    ready({ statuses, user, enemy }) {
      return statuses[user.id] && statuses[enemy.id];
    },
    message({ statuses, user, enemy, turn }) {
      if (!statuses[user.id]) {
        return 'You are not prepared!';
      }

      if (!statuses[enemy.id]) {
        return "Enemy ain't ready";
      }

      if (!turn) {
        return 'Wait for your turn 😎';
      }

      return void 0;
    }
  },
  mounted() {
    this.turn = this.$route.params.firstTurn === this.user.id;

    this.$socket.client.emit('brawl-set', {
      operationId: this.operation.id,
      userId: this.user.id
    });
  }
};
</script>
