<template>
  <svg :class="[$style.container, $style[color]]" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
    <g>
      <circle :class="$style.outer" cx="64" cy="64" r="62.25" />
      <circle :class="$style.inner" cx="64" cy="64" r="52.25" />
      <path :class="$style.mark" d="m57.531 86.928-25.847-25.848 7.07-7.071 18.777 18.777 31.715-31.714 7.07 7.071z" />
      <g :class="$style.lines">
        <path
          d="m64 0a64 64 0 1 0 64 64 64.072 64.072 0 0 0 -64-64zm0 124.5a60.5 60.5 0 1 1 60.5-60.5 60.569 60.569 0 0 1 -60.5 60.5z"
        />
        <path
          d="m100.1 99.278c-1.01 1.032-2.073 2.031-3.16 2.968a1.75 1.75 0 0 0 2.286 2.651c1.162-1 2.3-2.069 3.376-3.172a1.75 1.75 0 1 0 -2.5-2.447z"
        />
        <path
          d="m64 10a54 54 0 0 0 0 108 53.419 53.419 0 0 0 23.035-5.163 1.75 1.75 0 1 0 -1.5-3.163 49.958 49.958 0 0 1 -21.535 4.826 50.528 50.528 0 1 1 43.933-25.618 1.75 1.75 0 1 0 3.043 1.731 53.985 53.985 0 0 0 -46.976-80.613z"
        />
        <path
          d="m39.991 52.771a1.75 1.75 0 0 0 -2.474 0l-7.071 7.072a1.75 1.75 0 0 0 0 2.474l25.848 25.849a1.749 1.749 0 0 0 2.475 0l38.785-38.786a1.751 1.751 0 0 0 0-2.475l-7.071-7.071a1.748 1.748 0 0 0 -2.474 0l-30.478 30.477-9.3-9.3a1.75 1.75 0 0 0 -2.474 2.475l10.537 10.537a1.8 1.8 0 0 0 2.475 0l30.477-30.477 4.6 4.6-36.315 36.308-23.373-23.374 5.833-5.834a1.749 1.749 0 0 0 0-2.475z"
        />
      </g>
    </g>
  </svg>
</template>
<script>
export default {
  name: 'CheckIcon',
  props: {
    color: {
      type: String,
      default: 'success'
    }
  }
};
</script>
<style lang="scss" module>
.container {
  &.success {
    .outer {
      fill: var(--palette-green-forest);
    }
    .inner {
      fill: var(--palette-white);
    }
    .mark {
      fill: var(--palette-green-forest);
    }
    .lines {
      fill: var(--palette-dark);
    }
  }
}
</style>
