<template>
  <svg viewBox="0 0 495 495" xmlns="http://www.w3.org/2000/svg">
    <path d="m269.253906 43.046875 59.730469-17.066406-59.730469-17.066407" fill="#cc4b4c" />
    <path
      d="m239.386719 62.417969v-44.96875c.027343-9.414063 7.652343-17.039063 17.066406-17.070313 4.527344-.023437 8.871094 1.796875 12.03125 5.035156 3.242187 3.164063 5.058594 7.503907 5.035156 12.035157v52.734375zm0 0"
      fill="#cbb292"
    />
    <path d="m273.519531 285.992188v94.121093h-34.132812v-96.707031" fill="#cbb292" />
    <path d="m94.320312 229.101562v77.769532h-34.132812v-80.355469" fill="#cbb292" />
    <path d="m435.652344 332.957031v-66.269531l-34.132813 6.113281v68.914063zm0 0" fill="#cbb292" />
    <path
      d="m494.617188 348.796875c-1.875 4.523437-6.65625 6.316406-10.410157 8.875-2.730469 1.792969-5.546875 3.582031-8.277343 5.375-7.082032 4.695313-14.164063 9.300781-21.246094 13.996094-11.4375 7.507812-22.925782 15.074219-34.476563 22.699219-.570312.289062-1.113281.632812-1.621093 1.023437-.976563 3.699219-1.324219 7.535156-1.023438 11.347656l-1.28125 2.5625c-14.335938 28.5-54.015625 46.589844-85.929688 46.589844h-211.882812c-34.644531 0-71.082031-21.246094-83.882812-51.285156.199218-7.78125-5.183594-14.597657-12.800782-16.214844-5.066406-.398437-10.003906-1.820313-14.503906-4.179687-5.59375-5.664063-8.183594-13.632813-7-21.503907.085938-15.359375.171875-30.632812.171875-45.996093-.871094-6.890626 1.203125-13.832032 5.71875-19.113282 4.75-3.15625 10.457031-4.546875 16.125-3.925781 30.804687 0 61.527344 0 92.332031-.085937 5.105469-.460938 10.238282.578124 14.761719 2.988281 7.511719 5.035156 7.679687 15.617187 9.21875 24.488281 3.941406 23.601562 24.371094 40.890625 48.296875 40.875h129.023438c13.351562-.003906 26.175781-5.207031 35.753906-14.503906 7.117187-8.59375 16.574218-14.9375 27.222656-18.261719 29.867188-5.546875 59.734375-11.351563 89.601562-16.980469l16.722657-3.246094c2.496093-.460937 5.066406.207032 7.027343 1.820313 1.957032 1.609375 3.101563 4.007813 3.128907 6.542969 0 4.4375.085937 8.621094.171875 10.496094.457031 5.222656.140625 10.488281-.941406 15.617187zm0 0"
      fill="#804537"
    />
    <path
      d="m417.5625 412.113281c0 1.535157 0 2.816407-.085938 3.414063-.773437 4.820312-1.886718 9.585937-3.328124 14.25-1.53125 4.671875-3.441407 9.210937-5.71875 13.570312l-2.644532 5.375c-14.328125 28.527344-43.507812 46.550782-75.433594 46.589844h-211.882812c-46.28125-.109375-83.769531-37.601562-83.882812-83.882812v-1.449219c12.800781 30.039062 49.238281 51.285156 83.882812 51.285156h211.882812c31.914063 0 71.59375-18.089844 85.929688-46.589844zm0 0"
      fill="#7f5b53"
    />
    <path
      d="m167.78125 37.550781 168.695312 38.402344c3.25.71875 5.773438 3.277344 6.453126 6.535156 5.855468 27.996094 30.976562 158.867188 1.449218 212.265625-1.570312 2.6875-4.503906 4.273438-7.609375 4.113282l-171.316406-5.460938c-2.597656-.085938-5.019531-1.347656-6.570313-3.4375-1.550781-2.085938-2.066406-4.765625-1.398437-7.28125 18.445313-77.195312 18.480469-157.648438.109375-234.863281-.671875-2.863281.175781-5.871094 2.25-7.957031 2.070312-2.089844 5.070312-2.964844 7.9375-2.316407zm0 0"
      fill="#35495e"
    />
    <path
      d="m30.550781 80.039062 90.453125 19.855469c3.269532.707031 5.808594 3.285157 6.46875 6.5625 4.214844 21.070313 18.046875 98.296875 1.832032 132.710938-1.457032 3.191406-4.71875 5.167969-8.226563 4.976562l-92.941406-5.121093c-2.519531-.121094-4.847657-1.367188-6.34375-3.394532-1.5-2.023437-2.007813-4.617187-1.390625-7.058594 10.453125-45.601562 10.476562-92.976562.070312-138.589843-.582031-2.800781.296875-5.703125 2.335938-7.710938 2.035156-2.007812 4.949218-2.847656 7.742187-2.230469zm0 0"
      fill="#547580"
    />
    <path
      d="m386.425781 160.578125c3.316407 36.535156 3.382813 73.292969.203125 109.839844-.429687 2.652343.429688 5.351562 2.3125 7.269531 1.882813 1.917969 4.566406 2.824219 7.226563 2.441406 16.453125-2.507812 46.933593-6.828125 69.726562-8.132812 2.765625-.164063 5.269531-1.679688 6.699219-4.050782 1.429688-2.371093 1.601562-5.296874.460938-7.820312-18.300782-38.828125-42.597657-74.539062-72.003907-105.8125-2.425781-2.628906-6.242187-3.441406-9.527343-2.035156-3.285157 1.40625-5.328126 4.730468-5.097657 8.300781zm0 0"
      fill="#547580"
    />
    <path
      d="m43.121094 341.714844c0 4.710937-3.820313 8.53125-8.535156 8.53125-4.710938 0-8.53125-3.820313-8.53125-8.53125 0-4.714844 3.820312-8.535156 8.53125-8.535156 4.714843 0 8.535156 3.820312 8.535156 8.535156zm0 0"
      fill="#f3d55b"
    />
    <path
      d="m77.253906 341.714844c0 4.710937-3.820312 8.53125-8.535156 8.53125-4.710938 0-8.53125-3.820313-8.53125-8.53125 0-4.714844 3.820312-8.535156 8.53125-8.535156 4.714844 0 8.535156 3.820312 8.535156 8.535156zm0 0"
      fill="#f3d55b"
    />
    <path
      d="m111.386719 341.714844c0 4.710937-3.820313 8.53125-8.535157 8.53125-4.710937 0-8.53125-3.820313-8.53125-8.53125 0-4.714844 3.820313-8.535156 8.53125-8.535156 4.714844 0 8.535157 3.820312 8.535157 8.535156zm0 0"
      fill="#f3d55b"
    />
    <g fill="#cbb292">
      <path
        d="m154.054688 409.980469c0 4.714843-3.824219 8.535156-8.535157 8.535156-4.710937 0-8.535156-3.820313-8.535156-8.535156 0-4.710938 3.824219-8.53125 8.535156-8.53125 4.710938 0 8.535157 3.820312 8.535157 8.53125zm0 0"
      />
      <path
        d="m188.1875 409.980469c0 4.714843-3.820312 8.535156-8.535156 8.535156-4.710938 0-8.53125-3.820313-8.53125-8.535156 0-4.710938 3.820312-8.53125 8.53125-8.53125 4.714844 0 8.535156 3.820312 8.535156 8.53125zm0 0"
      />
      <path
        d="m222.320312 409.980469c0 4.714843-3.820312 8.535156-8.535156 8.535156-4.710937 0-8.53125-3.820313-8.53125-8.535156 0-4.710938 3.820313-8.53125 8.53125-8.53125 4.714844 0 8.535156 3.820312 8.535156 8.53125zm0 0"
      />
      <path
        d="m256.453125 409.980469c0 4.714843-3.820313 8.535156-8.535156 8.535156-4.710938 0-8.53125-3.820313-8.53125-8.535156 0-4.710938 3.820312-8.53125 8.53125-8.53125 4.714843 0 8.535156 3.820312 8.535156 8.53125zm0 0"
      />
      <path
        d="m290.585938 409.980469c0 4.714843-3.820313 8.535156-8.53125 8.535156-4.714844 0-8.535157-3.820313-8.535157-8.535156 0-4.710938 3.820313-8.53125 8.535157-8.53125 4.710937 0 8.53125 3.820312 8.53125 8.53125zm0 0"
      />
      <path
        d="m324.71875 409.980469c0 4.714843-3.820312 8.535156-8.53125 8.535156-4.714844 0-8.535156-3.820313-8.535156-8.535156 0-4.710938 3.820312-8.53125 8.535156-8.53125 4.710938 0 8.53125 3.820312 8.53125 8.53125zm0 0"
      />
    </g>
    <path
      d="m53.445312 464.253906-8.363281 25.257813c-1.203125 3.453125-4.449219 5.777343-8.105469 5.800781h-19.457031c-4.710937 0-8.535156-3.820312-8.535156-8.53125v-34.132812c0-4.714844 3.824219-8.535157 8.535156-8.535157h23.636719"
      fill="#804537"
    />
    <path
      d="m247.917969 203.984375v18.261719c-.007813.742187-.066407 1.484375-.167969 2.21875-1.078125 7.980468-7.578125 14.121094-15.605469 14.738281-8.027343.617187-15.394531-4.457031-17.675781-12.175781-.449219-1.554688-.675781-3.164063-.683594-4.78125v-39.765625"
      fill="#bdc3c7"
    />
    <path
      d="m247.917969 203.21875v19.027344c.011719.828125.070312 1.65625.171875 2.476562 1.0625 7.078125 6.398437 12.753906 13.398437 14.25h.085938c2.25.457032 4.574219.457032 6.824219 0h.085937c7.914063-1.65625 13.578125-8.640625 13.570313-16.726562v-18.261719"
      fill="#e6e7e8"
    />
    <path
      d="m316.1875 182.480469v39.765625c0 9.425781-7.640625 17.066406-17.066406 17.066406-9.425782 0-17.066406-7.640625-17.066406-17.066406v-19.027344"
      fill="#bdc3c7"
    />
    <path
      d="m102.851562 136.914062c-.570312.003907-1.144531-.054687-1.707031-.171874l-42.664062-8.53125c-4.621094-.945313-7.597657-5.453126-6.65625-10.070313.941406-4.617187 5.449219-7.597656 10.070312-6.65625l42.664063 8.535156c4.296875.871094 7.234375 4.855469 6.792968 9.21875-.441406 4.363281-4.113281 7.679688-8.5 7.675781zm0 0"
      fill="#35495e"
    />
    <path
      d="m324.71875 158.246094c.003906 5.679687-1.289062 11.28125-3.78125 16.386718-3.632812 7.496094-9.199219 13.886719-16.125 18.515626-7.933594 5.542968-17.003906 9.246093-26.546875 10.835937-.855469.171875-1.707031.34375-2.5625.429687-3.546875.519532-7.128906.773438-10.71875.765626-4.449219 0-8.894531-.398438-13.277344-1.195313-9.542969-1.589844-18.613281-5.292969-26.546875-10.835937-6.925781-4.628907-12.492187-11.019532-16.128906-18.515626-2.488281-5.105468-3.78125-10.707031-3.777344-16.386718 0-25.941406 26.742188-46.933594 59.730469-46.933594 32.992187 0 59.734375 20.992188 59.734375 46.933594zm0 0"
      fill="#ecf0f1"
    />
    <path
      d="m247.917969 179.582031c-4.710938 0-8.53125-3.820312-8.53125-8.535156v-17.066406c0-4.710938 3.820312-8.53125 8.53125-8.53125 4.714843 0 8.535156 3.820312 8.535156 8.53125v17.066406c0 4.714844-3.820313 8.535156-8.535156 8.535156zm0 0"
      fill="#606060"
    />
    <path
      d="m282.054688 179.582031c-4.714844 0-8.535157-3.820312-8.535157-8.535156v-17.066406c0-4.710938 3.820313-8.53125 8.535157-8.53125 4.710937 0 8.53125 3.820312 8.53125 8.53125v17.066406c0 4.714844-3.820313 8.535156-8.53125 8.535156zm0 0"
      fill="#606060"
    />
  </svg>
</template>
<script>
export default {
  name: 'LogoShipIcon'
};
</script>
