<template>
  <svg enable-background="new 0 0 64 64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
    <g>
      <path
        d="m33 23h-6c1.702 0 3.204.858 4.107 2.161 1.001.294 1.838.972 2.349 1.862 3.096.235 5.544 2.822 5.544 5.977v20c0 3.309-2.691 6-6 6h-6c-3.309 0-6-2.691-6-6v-20c0-1.201.356-2.341.988-3.301-.046-.021-.093-.041-.138-.063-.574.23-1.196.364-1.85.364-.314 0-.62-.037-.918-.093-.05.362-.082.726-.082 1.093v23c0 3.86 3.14 7 7 7h8c3.86 0 7-3.14 7-7v-23c0-4.411-3.589-8-8-8z"
      />
      <path
        d="m28.559 32.726c-.494.164-1.011.274-1.559.274-1.449 0-2.744-.63-3.656-1.62-.222.501-.344 1.05-.344 1.62v20c0 2.206 1.794 4 4 4h6c2.206 0 4-1.794 4-4v-20c0-1.863-1.286-3.42-3.014-3.862-.074 2.14-1.828 3.862-3.986 3.862-.509 0-.994-.099-1.441-.274zm-1.559 16.274h-2v-14h2zm6-14h2v2h-2zm0 4h2v2h-2zm-2 6h-2v-10h2z"
      />
      <path
        d="m45 53c2.206 0 4-1.794 4-4v-20c0-1.863-1.286-3.42-3.014-3.862-.065 1.876-1.418 3.428-3.207 3.783.143.671.221 1.366.221 2.079v22zm0-22h2v2h-2zm0 4h2v6h-2z"
      />
      <path
        d="m42 21c.182 0 .36.013.536.037.233-.21.467-.419.688-.639-.132-.447-.224-.91-.224-1.398h-4c-1.992 0-3.877.739-5.327 2.034 1.853.124 3.57.748 5.011 1.749.729-1.08 1.961-1.783 3.316-1.783z"
      />
      <path
        d="m48.253 23.972c1.65 1.068 2.747 2.919 2.747 5.028v20c0 3.309-2.691 6-6 6h-2.059c-.077.694-.24 1.362-.466 2h3.525c3.86 0 7-3.14 7-7v-23c0-1.648-.505-3.22-1.41-4.534-.854.881-2.031 1.439-3.337 1.506z"
      />
      <path
        d="m21.836 27.355c.715.397 1.451.752 2.206 1.061.205 1.457 1.446 2.584 2.958 2.584.967 0 1.819-.467 2.368-1.179.779.095 1.565.158 2.353.168.155-.273.255-.583.267-.921l.019-.552-.285-.497c-.006-.011-.015-.02-.022-.031-.572-.009-1.143-.049-1.712-.107-.064-1.598-1.374-2.881-2.988-2.881-1.074 0-2.01.572-2.541 1.422-.525-.228-1.038-.478-1.541-.753.05-.215.082-.438.082-.669 0-1.654-1.346-3-3-3-.528 0-1.017.149-1.449.389-.455-.457-.886-.936-1.292-1.437.455-.526.741-1.203.741-1.952 0-1.654-1.346-3-3-3-.213 0-.42.024-.621.066-.221-.551-.415-1.109-.583-1.678.726-.547 1.204-1.41 1.204-2.388 0-1.3-.836-2.399-1.995-2.814-.001-.062-.005-.124-.005-.186v-2.184c1.161-.414 2-1.514 2-2.816 0-1.654-1.346-3-3-3s-3 1.346-3 3c0 1.302.839 2.402 2 2.816v2.184c0 .061.004.122.004.183-1.163.413-2.004 1.513-2.004 2.817 0 1.617 1.287 2.929 2.89 2.989.218.732.474 1.452.771 2.156-.407.512-.661 1.151-.661 1.855 0 1.654 1.346 3 3 3 .17 0 .334-.023.496-.05.534.68 1.11 1.325 1.724 1.934-.139.346-.22.721-.22 1.116 0 1.654 1.346 3 3 3 .695 0 1.327-.247 1.836-.645z"
      />
      <path
        d="m51.995 9.183c.001-.061.005-.121.005-.183v-2.184c1.161-.414 2-1.514 2-2.816 0-1.654-1.346-3-3-3s-3 1.346-3 3c0 1.302.839 2.402 2 2.816v2.184c0 .062-.004.123-.005.186-1.159.415-1.995 1.514-1.995 2.814 0 .966.466 1.817 1.177 2.366-.178.574-.386 1.137-.622 1.69-.18-.034-.365-.056-.555-.056-1.654 0-3 1.346-3 3 0 .665.225 1.274.592 1.772-1.347 1.551-2.946 2.894-4.778 4.005.415.52.777 1.083 1.083 1.68 2.063-1.257 3.86-2.786 5.365-4.559.237.06.482.102.738.102 1.654 0 3-1.346 3-3 0-.733-.274-1.396-.712-1.917.302-.682.564-1.379.786-2.09 1.619-.041 2.926-1.364 2.926-2.993 0-1.304-.841-2.404-2.005-2.817z"
      />
    </g>
  </svg>
</template>
<script>
export default {
  name: 'NamePlateIcon'
};
</script>
