<template>
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512 512"
    style="enable-background:new 0 0 512 512;"
    xml:space="preserve"
  >
    <g>
      <path
        d="M256.001,108.52c-39.329,0-76.368,15.332-104.309,43.189
        c-27.84,27.926-43.172,64.963-43.172,104.292s15.332,76.366,43.19,104.31c27.923,27.839,64.962,43.171,104.292,43.171
        s76.367-15.332,104.307-43.189c27.84-27.926,43.172-64.963,43.172-104.292s-15.332-76.366-43.19-104.309
        C332.367,123.852,295.33,108.52,256.001,108.52z M263.955,124.673c29.477,1.751,57.148,13.21,79.292,32.831l-49.244,49.244
        c-8.751-6.781-19.062-11.051-30.048-12.444V124.673z M248.047,124.674v69.631c-10.986,1.394-21.296,5.663-30.049,12.444
        l-49.243-49.243C190.91,137.88,218.576,126.424,248.047,124.674z M157.504,168.754l49.244,49.244
        c-6.781,8.752-11.051,19.063-12.444,30.049h-69.632C126.424,218.571,137.882,190.899,157.504,168.754z M124.674,263.954h69.632
        c1.394,10.986,5.663,21.296,12.444,30.049l-49.243,49.243C137.879,321.09,126.424,293.423,124.674,263.954z M248.047,387.327
        c-29.477-1.751-57.148-13.21-79.293-32.831l49.244-49.244c8.752,6.781,19.063,11.051,30.049,12.444L248.047,387.327
        L248.047,387.327z M223.255,288.745c-8.745-8.744-13.561-20.374-13.561-32.745c0-12.371,4.816-24.001,13.561-32.745
        c8.745-8.746,20.375-13.562,32.746-13.562c12.372,0,24.001,4.816,32.745,13.562c8.745,8.744,13.561,20.374,13.561,32.745
        s-4.816,24.001-13.561,32.746c-8.744,8.745-20.373,13.561-32.745,13.561C243.63,302.307,232,297.491,223.255,288.745z
        M263.955,387.327v-69.631c10.986-1.394,21.296-5.663,30.048-12.443l49.243,49.243
        C321.092,374.121,293.425,385.576,263.955,387.327z M354.496,343.247l-49.244-49.244c6.781-8.752,11.051-19.063,12.444-30.049
        h69.632C385.576,293.431,374.118,321.102,354.496,343.247z M317.696,248.047c-1.394-10.986-5.663-21.296-12.444-30.049
        l49.243-49.243c19.626,22.156,31.082,49.822,32.833,79.292H317.696z"
      />
      <path
        d="M256.001,271.301c-8.436,0-15.301-6.865-15.301-15.301c0-8.436,6.865-15.301,15.301-15.301V224.79
        c-17.209,0-31.209,14-31.209,31.209s14,31.209,31.209,31.209c17.208,0,31.208-14,31.208-31.209h-15.908
        C271.3,264.437,264.438,271.301,256.001,271.301z"
      />
      <rect x="248.247" y="85.266" width="15.503" height="15.908" />
      <rect x="248.247" y="410.825" width="15.503" height="15.908" />
      <rect x="411.026" y="248.046" width="15.503" height="15.908" />
      <rect x="85.467" y="248.046" width="15.503" height="15.908" />
      <path
        d="M488.543,232.543h-31.005c-3.067,0-6.029,0.59-8.768,1.698
        c-4.09-36.656-18.477-71.159-41.717-99.919c3.515-1.091,6.824-3.012,9.601-5.789l21.937-21.936
        c9.149-9.15,9.149-24.037-0.001-33.188c-4.452-4.45-10.331-6.901-16.553-6.901c-6.272,0-12.178,2.451-16.632,6.903l-21.937,21.937
        c-2.777,2.778-4.699,6.087-5.79,9.602c-28.686-23.166-63.2-37.6-99.942-41.678c1.106-2.721,1.722-5.693,1.722-8.807V23.457
        c0-6.307-2.452-12.182-6.904-16.556c-4.371-4.451-10.246-6.901-16.553-6.901c-12.934,0-23.457,10.522-23.457,23.457v31.005
        c0,3.102,0.611,6.062,1.71,8.775c-37.571,4.211-71.927,19.192-99.906,41.781c-1.087-3.541-3.018-6.875-5.814-9.671l-21.938-21.94
        c-4.452-4.45-10.359-6.901-16.631-6.901c-6.222,0-12.101,2.451-16.554,6.902c-9.149,9.15-9.149,24.037,0,33.187l21.937,21.936
        c2.797,2.797,6.132,4.728,9.672,5.815c-22.589,27.979-37.57,62.335-41.781,99.905c-2.713-1.099-5.673-1.71-8.775-1.71H23.457
        c-6.307,0-12.182,2.451-16.554,6.903C2.45,243.817,0,249.693,0,256.001c0,12.934,10.522,23.457,23.457,23.457h31.005
        c3.086,0,6.045-0.624,8.763-1.74c4.079,36.745,18.455,71.2,41.716,99.964c-3.511,1.091-6.819,3.012-9.595,5.787l-21.937,21.936
        c-9.149,9.15-9.149,24.037,0,33.187c4.451,4.45,10.329,6.902,16.554,6.902c6.274,0,12.18-2.451,16.632-6.903l21.937-21.936
        c2.774-2.775,4.695-6.081,5.786-9.591c28.762,23.263,63.207,37.634,99.93,41.711c-1.096,2.71-1.704,5.665-1.704,8.763v31.006
        c0,12.934,10.522,23.457,23.457,23.457c12.934,0,23.457-10.522,23.457-23.457v-31.006c0-3.084-0.594-6.061-1.714-8.813
        c36.773-4.096,71.269-18.525,99.935-41.673c1.091,3.515,3.012,6.824,5.79,9.601l21.937,21.938
        c4.451,4.45,10.358,6.902,16.632,6.902c6.224,0,12.103-2.451,16.554-6.902c9.149-9.15,9.149-24.037,0-33.187l-21.937-21.936
        c-2.777-2.777-6.087-4.698-9.601-5.789c23.241-28.762,37.628-63.269,41.718-99.928c2.711,1.097,5.668,1.706,8.767,1.706h31.005
        c12.934,0,23.457-10.522,23.457-23.457S501.478,232.543,488.543,232.543z M62.012,256.258c-0.16,4.029-3.527,7.291-7.549,7.291
        H23.457c-4.163,0-7.549-3.386-7.549-7.549c0-2.012,0.77-3.869,2.167-5.228l0.155-0.155c1.359-1.397,3.215-2.167,5.228-2.167h31.005
        c4.163,0,7.549,3.386,7.549,7.549V256.258z M394.717,106.596l21.936-21.936c1.447-1.448,3.359-2.244,5.383-2.244
        c1.974,0,3.859,0.796,5.305,2.243c2.947,2.946,2.947,7.742,0,10.688l-21.936,21.937c-2.944,2.946-7.741,2.948-10.687,0
        C391.77,114.337,391.77,109.543,394.717,106.596z M248.451,23.457c0-4.163,3.386-7.549,7.549-7.549c2.012,0,3.87,0.77,5.229,2.167
        l0.153,0.153c1.398,1.36,2.168,3.218,2.168,5.23v31.005c0,4.163-3.386,7.549-7.549,7.549c-4.163,0-7.549-3.386-7.549-7.549V23.457
        H248.451z M84.659,95.347c-2.947-2.946-2.947-7.742-0.001-10.687c1.447-1.448,3.332-2.244,5.306-2.244
        c2.025,0,3.937,0.796,5.382,2.242l21.937,21.939c2.947,2.946,2.947,7.741,0,10.687c-2.947,2.948-7.744,2.946-10.687,0
        L84.659,95.347z M117.283,405.406l-21.937,21.937c-1.445,1.447-3.358,2.243-5.382,2.243c-1.975,0-3.859-0.796-5.305-2.243
        c-2.947-2.946-2.947-7.742,0-10.688l21.937-21.937c1.473-1.474,3.409-2.21,5.344-2.21c1.934,0,3.87,0.736,5.343,2.21
        C120.23,397.664,120.23,402.457,117.283,405.406z M263.55,488.544c0,4.163-3.386,7.549-7.549,7.549
        c-4.163,0-7.549-3.386-7.549-7.549v-31.006c0-4.163,3.386-7.549,7.549-7.549c2.012,0,3.869,0.77,5.229,2.168l0.153,0.153
        c1.398,1.36,2.168,3.217,2.168,5.229v31.005H263.55z M427.341,416.653c2.947,2.946,2.947,7.742,0,10.688
        c-1.445,1.447-3.33,2.243-5.305,2.243c-2.025,0-3.937-0.796-5.382-2.242l-21.936-21.939c-2.947-2.946-2.947-7.741,0-10.687
        c1.473-1.474,3.409-2.21,5.343-2.21c1.935,0,3.871,0.736,5.344,2.21L427.341,416.653z M384.516,379.235
        c-31.872,33.209-74.691,52.607-120.571,54.621l-0.106,0.006c-2.539,0.145-5.175,0.218-7.839,0.218
        c-97.972,0-177.859-79.721-178.081-177.71h-0.002l0.002-0.37c0-98.194,79.887-178.08,178.081-178.08
        c2.646,0,5.285,0.073,7.944,0.225c45.88,2.013,88.7,21.411,120.571,54.621c31.963,33.305,49.564,77.07,49.564,123.235
        S416.479,345.931,384.516,379.235z M488.543,263.549h-31.005c-4.163,0-7.549-3.386-7.549-7.549c0-2.012,0.77-3.869,2.167-5.228
        l0.154-0.155c1.359-1.397,3.216-2.167,5.228-2.167h31.005c4.163,0,7.549,3.386,7.549,7.549
        C496.092,260.162,492.706,263.549,488.543,263.549z"
      />
    </g>
  </svg>
</template>
<script>
export default {
  name: 'RudderIcon'
};
</script>
