<template>
  <svg
    :class="[$style.container, { [$style.opposite]: opposite }]"
    viewBox="0 0 512 512"
    style="enable-background:new 0 0 512 512;"
    xml:space="preserve"
  >
    <g>
      <path
        :class="$style.background"
        d="M53.333,101.331c77.267,0,110.443-90.664,202.666-90.664c92.222,0,125.4,90.664,202.667,90.664
		    c0,250.41-62.866,319.29-202.667,400.002C116.198,420.621,53.333,351.741,53.333,101.331z"
      />
    </g>
    <g>
      <path
        :class="$style.border"
        d="M458.667,90.664c-33.292,0-58.559-19.483-85.312-40.109C342.62,26.859,307.783,0,255.999,0
        s-86.62,26.859-117.356,50.556c-26.751,20.625-52.019,40.108-85.31,40.108c-5.889,0-10.667,4.777-10.667,10.667
        c0,124.545,15.511,207.475,50.294,268.895c34.538,60.989,85.951,98.917,157.706,140.345c1.65,0.953,3.491,1.429,5.333,1.429
        s3.683-0.476,5.333-1.429c71.758-41.428,123.168-79.357,157.708-140.345c34.781-61.419,50.292-144.349,50.292-268.895
        C469.333,95.441,464.556,90.664,458.667,90.664z M255.999,489.001C127.333,413.973,65.719,349.338,64.035,111.464
        c35.144-3.542,61.791-24.087,87.636-44.013c29.404-22.672,59.813-46.117,104.327-46.117c44.516,0,74.921,23.445,104.329,46.117
        c25.845,19.927,52.492,40.47,87.636,44.013C446.28,349.338,384.666,413.973,255.999,489.001z"
      />
      <path
        :class="$style.border"
        d="M129.969,121.821c-2.746-5.213-9.196-7.213-14.409-4.468c-1.325,0.698-2.669,1.383-4.017,2.048
        c-5.285,2.602-7.46,8.997-4.859,14.282c1.856,3.771,5.642,5.957,9.578,5.957c1.581,0,3.189-0.353,4.704-1.099
        c1.523-0.75,3.038-1.523,4.533-2.31C130.713,133.484,132.713,127.034,129.969,121.821z"
      />
      <path
        :class="$style.border"
        d="M411.585,205.466c0.327,0.03,0.654,0.045,0.977,0.045c5.454,0,10.109-4.163,10.61-9.702
        c0.125-1.362,0.243-2.731,0.358-4.093c0.498-5.87-3.858-11.032-9.729-11.529c-5.862-0.505-11.032,3.858-11.528,9.728
        c-0.112,1.318-0.227,2.642-0.348,3.962C401.392,199.744,405.718,204.932,411.585,205.466z"
      />
      <path
        :class="$style.border"
        d="M151.053,118.127c2.162,0,4.346-0.656,6.234-2.02c6.179-4.461,12.199-9.043,18.017-13.475
        c27.227-20.731,50.74-38.634,80.696-38.634c5.891,0,10.667-4.777,10.667-10.667S261.891,42.664,256,42.664
        c-37.155,0-64.582,20.883-93.62,42.995c-5.714,4.351-11.623,8.85-17.581,13.152c-4.778,3.449-5.852,10.115-2.404,14.892
        C144.48,116.592,147.742,118.127,151.053,118.127z"
      />
      <path
        :class="$style.border"
        d="M255.999,439.29c-27.298-16.831-60.269-39.432-84.991-68.579c-3.81-4.493-10.542-5.045-15.034-1.236
        c-4.494,3.81-5.048,10.542-1.237,15.035c28.402,33.489,66.08,58.423,95.73,76.405c0.054,0.032,0.112,0.054,0.166,0.086
        c0.256,0.148,0.518,0.277,0.785,0.404c0.171,0.081,0.341,0.17,0.514,0.242c0.24,0.099,0.483,0.175,0.73,0.256
        c0.206,0.068,0.409,0.146,0.617,0.201c0.223,0.059,0.45,0.094,0.675,0.138c0.227,0.045,0.454,0.102,0.684,0.131
        c0.323,0.042,0.647,0.052,0.975,0.064c0.125,0.004,0.25,0.025,0.375,0.025c0.004,0,0.009,0,0.011,0c0.004,0,0.009,0,0.011,0
        c0.125,0,0.25-0.021,0.375-0.025c0.327-0.013,0.654-0.022,0.977-0.064c0.227-0.029,0.45-0.085,0.675-0.129
        c0.229-0.045,0.459-0.08,0.684-0.14c0.206-0.054,0.409-0.131,0.612-0.198c0.245-0.081,0.492-0.158,0.734-0.257
        c0.173-0.071,0.341-0.16,0.512-0.242c0.267-0.127,0.531-0.256,0.785-0.405c0.057-0.031,0.112-0.053,0.166-0.085
        c29.65-17.982,67.328-42.916,95.73-76.406c32.388-38.201,52.803-89.896,62.409-158.041c0.822-5.834-3.239-11.228-9.073-12.051
        c-5.84-0.819-11.229,3.24-12.052,9.074c-9.027,64.032-27.852,112.189-57.555,147.222
        C316.271,399.858,283.302,422.459,255.999,439.29z"
      />
    </g>
  </svg>
</template>
<script>
export default {
  name: 'ShieldIcon',
  props: {
    opposite: {
      type: Boolean,
      default: false
    }
  }
};
</script>
<style lang="scss" module>
.container {
  &.opposite {
    .background {
      fill: var(--palette-carmine-pink);
    }
  }
}

.background {
  fill: var(--palette-green-forest);
}

.border {
  fill: var(--palette-dark);
}
</style>
