<template>
  <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m492 0h-472c-11.046875 0-20 8.953125-20 20v472c0 11.046875 8.953125 20 20 20h472c11.046875 0 20-8.953125 20-20v-472c0-11.046875-8.953125-20-20-20zm-20 472h-432v-432h432zm-383.660156-68.339844v-59.734375c0-11.046875 8.953125-20 20-20s20 8.953125 20 20v39.734375h39.734375c11.046875 0 20 8.953125 20 20s-8.953125 20-20 20h-59.734375c-11.046875 0-20-8.953125-20-20zm235.585937-295.320312c0-11.046875 8.953125-20 20-20h59.734375c11.046875 0 20 8.953125 20 20v59.734375c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20v-39.734375h-39.734375c-11.046875 0-20-8.953125-20-20zm-116.890625 216.625h97.929688c11.042968 0 20-8.957032 20-20v-97.929688c0-11.042968-8.957032-20-20-20h-97.929688c-11.042968 0-20 8.957032-20 20v97.929688c0 11.042968 8.957032 20 20 20zm20-97.929688h57.929688v57.929688h-57.929688zm0 0"
    />
  </svg>
</template>
<script>
export default {
  name: 'SizeIcon'
};
</script>
