<template>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    :class="[$style.icon, $style[direction]]"
    viewBox="0 0 255 255"
    style="enable-background:new 0 0 255 255;"
    xml:space="preserve"
  >
    <g>
      <g id="arrow-drop-down">
        <polygon points="0,63.75 127.5,191.25 255,63.75" />
      </g>
    </g>
  </svg>
</template>
<script>
export default {
  name: 'TriangleIcon',
  props: {
    direction: {
      type: String,
      default: 'up'
    }
  }
};
</script>
<style lang="scss" module>
.icon {
  &.down {
    transform: rotate(0);
  }

  &.up {
    transform: rotate(180deg);
  }

  &.right {
    transform: rotate(90deg);
  }

  &.left {
    transform: rotate(-90deg);
  }
}
</style>
