<template>
  <div id="app" :class="$style.container">
    <VLoader v-if="loading" :headline="headline" :error="error" full-screen />
    <template v-else>
      <header :class="$style.header">
        <router-link to="/" :class="$style.logo">
          <LogoShip />
          <span :class="$style['logo-headline']">Battleships</span>
        </router-link>
      </header>
      <main :class="$style.main">
        <router-view />
      </main>
    </template>
  </div>
</template>

<script>
import VLoader from './components/Loader';
import LogoShip from './components/icons/LogoShip.vue';

export default {
  name: 'App',
  components: { VLoader, LogoShip },
  data: () => ({
    loading: true,
    error: ''
  }),
  sockets: {
    ['connect']() {
      this.loading = false;
      this.error = '';
    },
    ['connect_error']({ message }) {
      this.error = message;
    }
  },
  computed: {
    headline() {
      return this.error
        ? 'Oh no!, something went wrong... 😱'
        : "Hang on, we're trying to connect to a game server... 🤗";
    }
  }
};
</script>
<style lang="scss" module>
@import './styles/resources';

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 64px;
  padding: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
  background-color: var(--palette-white);
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

  svg {
    height: 100%;
    margin-right: 1rem;
  }

  &-headline {
    font-size: 2rem;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto 1rem auto;

  @include breakpoint(md) {
    max-width: 720px;
  }

  @include breakpoint(xl) {
    padding: 0 2rem;
  }
}
</style>
