<template>
  <article :class="[$style.container, { [$style.enemy]: enemy }]">
    <header :class="$style.header">
      <h3>{{ headline }}</h3>
    </header>
    <section :class="$style.wrapper">
      <div :class="[$style.ruller, $style.lat]">
        <span v-for="index in rullers.top" :key="index">{{ index }}</span>
      </div>
      <div :class="[$style.ruller, $style.long]">
        <span v-for="index in rullers.left" :key="index">{{ index }}</span>
      </div>
      <div :class="$style.field">
        <slot name="player"></slot>
      </div>
    </section>
  </article>
</template>
<script>
import { getLatitudeRuller, getLongitudeRuller } from '../../../utils';

export default {
  name: 'BattleField',
  props: {
    headline: {
      type: String,
      default: ''
    },
    enemy: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    rullers: {
      top: getLatitudeRuller(10),
      left: getLongitudeRuller(10)
    }
  })
};
</script>
<style lang="scss" module>
.container {
  flex: 1 0;
  position: relative;

  --swatch-scheme-color: var(--palette-anti-flash-white);
  --swatch-scheme-border: var(--palette-dark);
  --swatch-scheme-background: var(--palette-green-forest);

  --layout-cursor: grab;

  &:not(:first-child) {
    margin-left: 1rem;
  }

  &.enemy {
    --swatch-scheme-border: var(--palette-carmine-pink);
    --swatch-scheme-background: var(--palette-carmine-pink);

    --layout-cursor: crosshair;
  }
}

.header {
  padding: 0.5rem;
  border-radius: var(--values-border-radius);
  color: var(--swatch-scheme-color);
  background-color: var(--swatch-scheme-background);
  text-align: center;
}

.wrapper {
  position: relative;
  padding: 2rem 0 0 2rem;
}

.ruller {
  display: flex;
  position: absolute;

  span {
    display: block;
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.lat {
    height: 2rem;
    width: calc(100% - 2rem);
    top: 0;
  }

  &.long {
    flex-direction: column;
    width: 2rem;
    height: calc(100% - 2rem);
    left: 0;
  }
}

.field {
  position: relative;
  user-select: none;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.grid {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex-basis: 10%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.1rem solid var(--swatch-scheme-border);
  border-bottom: 0.1rem solid var(--swatch-scheme-border);
  cursor: var(--layout-cursor);

  &:nth-child(-n + 10) {
    border-top: 0.1rem solid var(--swatch-scheme-border);
  }
  &:nth-child(10n) {
    border-right: 0.1rem solid var(--swatch-scheme-border);
  }

  svg {
    width: 50%;
    height: 50%;
  }

  &.selected {
    background-color: var(--palette-cold-blue);

    --layout-cursor: grabbing;
  }
  &.invalid {
    background-color: var(--palette-carmine-pink);

    --layout-cursor: not-allowed;
  }
  &.occupied {
    background-color: var(--palette-green-forest);
  }
  &.damaged {
    background-color: var(--palette-mango-tango);
  }
}
</style>
