<template>
  <div :class="$parent.$style.grid">
    <div
      v-for="cell in battlefield"
      :key="cell.key"
      :data-long="cell.long"
      :data-lat="cell.lat"
      :class="[$parent.$style.cell, { [$parent.$style.damaged]: cell.ship && cell.shot }]"
      @click="onClick(cell)"
    >
      <ShootSplash v-if="cell.shot" />
    </div>
    <div v-if="!ready || locked" :class="$style.placeholder">{{ message }}</div>
  </div>
</template>
<script>
import { buildBattleField, getSelectionNeighbours } from '../../../utils';

import ShootSplash from '../../../components/icons/ShootSplash';

import { mapState } from 'vuex';

export default {
  name: 'Enemy',
  components: { ShootSplash },
  props: {
    ready: {
      type: Boolean,
      default: false
    },
    locked: {
      type: Boolean,
      default: false
    },
    message: {
      type: String,
      default: 'Set your ships, captains! 🏴‍☠️'
    }
  },
  data: () => ({
    battlefield: buildBattleField(10)
  }),
  watch: {
    ['brawl.shoots.length'](newValue) {
      if (newValue) {
        const cell = this.brawl.shoots[newValue - 1];

        this.battlefield[cell].shot = true;
      }
    }
  },
  sockets: {
    ['BRAWL_SHIP_DAMAGE_COMMITED'](cell, destroyed) {
      this.battlefield[cell].ship = true;

      if (destroyed) {
        const neighbours = getSelectionNeighbours(destroyed);

        neighbours.forEach(cell => (this.battlefield[cell].shot = true));
      }
    }
  },
  computed: {
    ...mapState({
      brawl: state => state.brawl.params
    })
  },
  methods: {
    onClick(cell) {
      if (this.ready && !cell.shot) {
        this.$socket.client.emit('brawl-shoot', {
          brawlId: this.brawl.id,
          shoot: cell
        });
      }
    }
  }
};
</script>
<style lang="scss" module>
.placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, var(--opacity-overlay-disabled));
  cursor: var(--layout-cursor);
}
</style>
