<template>
  <VSelection
    :selectables="$parent.$style.cell"
    :class="$parent.$style.grid"
    :disable="brawl.ready"
    @selecting="onSelecting"
    @select="onSelect"
  >
    <div
      v-for="cell in battlefield"
      :key="cell.key"
      :data-long="cell.long"
      :data-lat="cell.lat"
      :class="[
        $parent.$style.cell,
        {
          [$parent.$style.selected]: selection[cell.key],
          [$parent.$style.invalid]: selection[cell.key] && $v.selection.$invalid,
          [$parent.$style.occupied]: cell.ship,
          [$parent.$style.damaged]: cell.ship && cell.shot
        }
      ]"
    >
      <ShootSplash v-if="cell.shot" />
    </div>
  </VSelection>
</template>
<script>
import { buildBattleField, getShipFromSelection, getSelectionSetter } from '../../../utils';
import { direction, size, radius } from '../validators';

import VSelection from '../../../components/Selection';
import ShootSplash from '../../../components/icons/ShootSplash';

import { mapState } from 'vuex';

export default {
  name: 'Player',
  components: { VSelection, ShootSplash },
  data: () => ({
    battlefield: buildBattleField(10),
    selection: {}
  }),
  validations() {
    return {
      selection: {
        direction,
        radius: radius(this.battlefield),
        size: size(this.statuses)
      }
    };
  },
  watch: {
    ['brawl.ships.length'](newValue) {
      if (newValue) {
        const ship = this.brawl.ships[newValue - 1];

        ship.gps.forEach(cell => (this.battlefield[cell].ship = true));
      }

      getSelectionSetter.clearCache();

      return this.reset();
    }
  },
  sockets: {
    ['BRAWL_SHOT_COMMITED'](shoot) {
      this.battlefield[shoot.key].shot = true;

      this.$socket.client.emit('brawl-damage', {
        brawlId: this.brawl.id,
        shoot
      });
    }
  },
  computed: {
    ...mapState({
      brawl: state => state.brawl.params
    }),
    statuses({ brawl }) {
      return brawl.ships.reduce(
        (map, { size }) => ({
          ...map,
          [size]: map[size] + 1
        }),
        { 1: 0, 2: 0, 3: 0, 4: 0 }
      );
    }
  },
  methods: {
    onSelecting: getSelectionSetter(),
    onSelect(selection) {
      if (this.$v.selection.$invalid) {
        return this.reset();
      }

      this.$socket.client.emit('brawl-set-ship', { brawlId: this.brawl.id, ship: getShipFromSelection(selection) });
    },
    reset() {
      this.selection = {};
    }
  }
};
</script>
