<template functional>
  <div :class="$style.container">
    <label v-if="props.label" :for="props.name" :class="$style.label">
      {{ props.label }}
    </label>
    <div :class="[$style.wrapper, { [$style.disabled]: props.disabled }]">
      <i v-if="slots().prependIcon" :class="[$style.icon, $style.prepend]">
        <slot name="prepend-icon"></slot>
      </i>
      <slot></slot>
      <i v-if="slots().appendIcon" :class="[$style.icon, $style.append]">
        <slot name="append-icon"></slot>
      </i>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VField',
  functional: true,
  props: {
    name: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
};
</script>
<style lang="scss" module>
.container {
  width: 100%;
  margin-bottom: 0.5rem;
}
.label {
  display: block;
  margin-bottom: 0.5rem;
}
.wrapper {
  position: relative;
  display: flex;

  &.disabled {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, var(--opacity-overlay-disabled));
    }
  }
}
.icon {
  position: absolute;
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;

  svg {
    width: 18px;
    height: 18px;
  }

  &.append {
    right: 0;
  }
}
</style>
