<template>
  <article :class="$style.container">
    <header v-if="$slots.header" :class="$style.header">
      <slot name="header" />
    </header>
    <form :class="$style.body" @submit.prevent="onSubmit">
      <section v-if="$slots.body" :class="$style.fields">
        <slot name="body" />
      </section>
      <section v-if="$slots.actions" :class="$style.actions">
        <slot name="actions" />
      </section>
    </form>
    <footer v-if="$slots.footer" :class="$style.footer">
      <slot name="footer" />
    </footer>
  </article>
</template>
<script>
export default {
  name: 'VForm',
  methods: {
    onSubmit(event) {
      this.$emit('submit', event);
    }
  }
};
</script>
<style lang="scss" module>
.container {
  padding: 0 4rem;
  margin: 0 -1rem;
  border-radius: var(--values-border-radius);
  background-color: var(--palette-white);
}
.header {
  border-top-left-radius: var(--values-border-radius);
  border-top-right-radius: var(--values-border-radius);
  color: var(--palette-anti-flash-white);
  background-color: var(--palette-dark-water);
}
.body {
  display: flex;
  flex-direction: column;
}
.fields {
  display: flex;
  flex-direction: column;
}
.actions {
  display: flex;
  justify-content: center;
}
.footer {
}
</style>
