<template>
  <VField :name="name" :label="label">
    <input :class="$style.field" :name="name" :type="type" :value="value" @input="onInput" />
  </VField>
</template>
<script>
import uuid from 'uuid';
import VField from './Field';

export default {
  name: 'VInput',
  components: { VField },
  props: {
    name: {
      type: String,
      default: uuid('form-input')
    },
    type: {
      type: String,
      default: 'text'
    },
    label: {
      type: String,
      default: ''
    },
    value: {
      type: [String, Number],
      default: ''
    }
  },
  methods: {
    onInput({ target }) {
      this.$emit('input', target.value);
    }
  }
};
</script>
<style lang="scss" module>
.field {
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: var(--values-border-radius);
  border: 0.1rem solid var(--palette-anti-flash-white);
}
</style>
