<template>
  <Vfield :name="name" :label="label" :disabled="disabled">
    <input
      readonly
      :class="[$style.field, { [$style.active]: dropdown }]"
      :name="name"
      :value="value"
      :aria-expanded="dropdown"
      aria-haspopup="dropdown"
      @click="onClick"
    />
    <section v-show="dropdown" :class="$style.options" role="dropdown" tabindex="-1">
      <span
        v-for="item in items"
        :key="item"
        :class="[$style.option, { [$style.selected]: item == value }]"
        :aria-selected="item == value"
        @click="onChange(item)"
      >
        {{ item }}
      </span>
    </section>
    <template #append-icon>
      <TriangleIcon :direction="direction" />
    </template>
  </Vfield>
</template>
<script>
import uuid from 'uuid';
import Vfield from './Field';
import TriangleIcon from '../icons/Triangle';

export default {
  name: 'VSelect',
  components: { Vfield, TriangleIcon },
  data: () => ({ dropdown: false }),
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    },
    name: {
      type: String,
      default: uuid('VSelect')
    },
    label: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    direction({ dropdown }) {
      return dropdown ? 'up' : 'down';
    }
  },
  methods: {
    onClick() {
      this.dropdown = true;
    },
    onChange(value) {
      this.$emit('input', value);
      this.dropdown = false;
    }
  }
};
</script>
<style lang="scss" module>
.field {
  flex: 1;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: var(--values-border-radius);
  border: 0.1rem solid var(--palette-anti-flash-white);
  cursor: pointer;

  &.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 100%;
  z-index: 1;
  width: 100%;
  background-color: var(--palette-white);
  border-radius: 0 0 var(--values-border-radius) var(--values-border-radius);
  border: 0.1rem solid var(--palette-anti-flash-white);
  border-top: 0;
}
.option {
  padding: 0.5rem 1rem;
  cursor: pointer;

  &.selected {
    background-color: var(--palette-anti-flash-white);
  }
}
</style>
